.breadcrumbs__item {
  display: inline;
  padding-right: 16px;
  margin-right: -16px;
}
.breadcrumbs__separator {
  bottom: -1px;
  margin: 0 10px 0px 9px;
  color: #dddddd;
}
.breadcrumbs__dropdown-select__icon-down {
 fill: #999999;
 margin: 0 4px;
}
.breadcrumbs__dropdown-select__icon-down:hover {
  color: var(--fill_dark_lite_ccc);
}
.breadcrumbs__item-name {
  color: #999;
}
.breadcrumbs__link:hover .breadcrumbs__item-name {
  color: #555;
  color: var(--fill_dark_lite_white_hover);
}
.breadcrumbs__link:hover .breadcrumbs__dropdown-select__icon-down {
  fill:var(--fill_dark_lite_white_hover);
}
.breadcrumbs__item--with-dropdown:hover .breadcrumbs__dropdown-wrapper {
  opacity: 1;
  visibility: visible;
  top: 100%;
  margin-top: 8px;
}
.breadcrumbs__dropdown-wrapper.dropdown-menu-wrapper {
  left: -15px;
  z-index: 108;
  box-shadow: 0 5px 30px rgba(34, 34, 34, .1);
  overflow: hidden;
}
.breadcrumbs__dropdown {
  padding: 8px;
  display: flex;
  flex-direction: column;
  gap: 1px;
}
.breadcrumbs__dropdown-select__list-item > a {
  padding: 7px 15px;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
.breadcrumbs__dropdown-wrapper .breadcrumbs__dropdown {
  max-height: 288px;
}
@media (max-width: 600px) {
  .breadcrumbs {
    white-space: nowrap;
    overflow-x: auto;
    margin-right: calc(var(--theme-page-width-padding) * -1);
    margin-left: calc(var(--theme-page-width-padding) * -1);
    padding-left: var(--theme-page-width-padding);
    padding-bottom: 5px;
  }
}
