.xpopover {
	--xpopover-pb: 16px;
	--xpopover-pi: 0px;
	--xpopover-pt: 16px;
	background: var(--card_bg_black);
	border-radius: 12px;
	border-radius: var(--theme-outer-border-radius);
	box-shadow: 0px 5px 30px rgb(34 34 34 / 10%);
	display: block;
	max-height: 100dvh;
	opacity: 0;
	overflow: hidden;
	padding-bottom: var(--xpopover-pb);
	padding-inline: var(--xpopover-pi);
	padding-top: var(--xpopover-pt);
	position: fixed;
	transition: opacity .3s ease-in-out;
	visibility: hidden;
	width: min(100%, 315px);
	z-index: 2;
}

.xpopover.clone {
	visibility: hidden !important;
	opacity: 0 !important;
	transition: none !important;
}

.xpopover.show {
	display: flex;
	opacity: 1;
	visibility: visible;
	flex-direction: column;
	justify-content: end;
}

.xpopover>.scrollbar {
	max-height: calc(100dvh - var(--xpopover-pt) - var(--xpopover-pb));
	display: block;
	height: 100%;
}

.xpopover .xpopover-content {
	--xpopover-content-pt: 0px;
	--xpopover-content-pb: 0px;
	--xpopover-content-pi: 16px;
	padding-inline: var(--xpopover-content-pi);
	padding-top: var(--xpopover-content-pt);
	padding-bottom: var(--xpopover-content-pb);
	color: var(--white_text_black);
	font-size: 1rem;
	line-height: calc(1em + 10px);
	word-break: break-word;
}

.xpopover .xpopover-content--no-inline-gutters {
	--xpopover-content-pi: 0px;
}

.xpopover .xpopover-drag {
	background-color: var(--light, #dadada) var(--dark, var(--stroke_black));
	border-radius: 10px;
	cursor: pointer;
	display: none;
	height: 4px;
	left: 50%;
	position: absolute;
	top: 8px;
	transform: translateX(-50%);
	width: 40px;
}

.xpopover-overlay {
	background: #3a3f44;
	opacity: 0.7 !important;
	height: 100%;
	width: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 3000;
	display: none;
}

@media (max-width: 380px) or ((max-width: 760px) and (min-resolution: 2dppx)) {
	.xpopover {
		--xpopover-pb: 0px;
		border-radius: var(--theme-outer-border-radius) var(--theme-outer-border-radius) 0 0;
		border: none !important;
		bottom: 0 !important;
		left: 0 !important;
		max-width: 100%;
		min-height: min(204px, 100dvh);
		right: 0 !important;
		top: initial !important;
		transform: translate(0, 100%) !important;
		transition: opacity .3s ease-in-out, transform .3s ease-in-out !important;
		width: 100% !important;
		z-index: 3000 !important;
	}

	.xpopover.show {
		transform: translate(0, 0) !important;
	}

	.xpopover .xpopover-drag {
		display: block;
	}

	.xpopover .xpopover-content {
		--xpopover-content-pb: 18px;
		--xpopover-content-pt: 18px;
	}

	.xpopover .xpopover-content--mobile-center {
		text-align: center;
	}

	.xpopover-overlay {
		display: block;
	}
}